<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://dtdserver/dtd/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>organizer</display-name>
	<distributable />
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.hps.july.organizer.ApplicationResources</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>nocache</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>updateMenu</servlet-name>
    <servlet-class>com.hps.july.organizer.locservlet.UpdateSystemParamsServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateMenu</servlet-name>
    <url-pattern>/organizer/updateMenu</url-pattern>
  </servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>
      <taglib>
         <taglib-uri>/WEB-INF/july.tld</taglib-uri>
         <taglib-location>/WEB-INF/july.tld</taglib-location>
      </taglib>
  
  
      <security-constraint>
         <web-resource-collection>
            <web-resource-name>protresource</web-resource-name>
            <url-pattern>/main.do</url-pattern>
            <url-pattern>/ShowTaskList.do</url-pattern>
            <url-pattern>/Logout.do</url-pattern>
            <url-pattern>/Reregister.do</url-pattern>
            <url-pattern>/organizer/updateMenu</url-pattern>
            <url-pattern>/updateSystemParams.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
         </web-resource-collection>
         <auth-constraint>
            <description>protected:+:</description>
            <role-name>AllAuthenticated</role-name>
         </auth-constraint>
         <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
         </user-data-constraint>
      </security-constraint>
      <security-constraint>
         <web-resource-collection>
            <web-resource-name>main</web-resource-name>
            <url-pattern>/Login.do</url-pattern>
            <url-pattern>/LoginError.do</url-pattern>
            <url-pattern>/Error.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
         </web-resource-collection>
         <auth-constraint>
            <description>public:+:</description>
            <role-name>Everyone</role-name>
         </auth-constraint>
         <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
         </user-data-constraint>
      </security-constraint>
      <login-config>
         <auth-method>FORM</auth-method>
         <form-login-config>
            <form-login-page>/Login.do</form-login-page>
            <form-error-page>/LoginError.do</form-error-page>
         </form-login-config>
      </login-config>
      <security-role>
         <role-name>AllAuthenticated</role-name>
      </security-role>
      <security-role>
         <role-name>Everyone</role-name>
      </security-role>
      <security-role>
         <role-name>EquipmentLook</role-name>
      </security-role>
      <security-role>
         <role-name>MSCEqpEdit</role-name>
      </security-role>
      <security-role>
         <role-name>BSCEqpEdit</role-name>
      </security-role>
      <security-role>
         <role-name>RepiterEqpEdit</role-name>
      </security-role>
      <security-role>
         <role-name>ServiceEqpEdit</role-name>
      </security-role>
      <ejb-ref id="EjbRef_1132928284203">
         <ejb-ref-name>Organizer</ejb-ref-name>
         <ejb-ref-type>Session</ejb-ref-type>
         <home>com.hps.july.commonbean.OrganizerHome</home>
         <remote>com.hps.july.commonbean.Organizer</remote>
         <ejb-link>Organizer</ejb-link>
      </ejb-ref>
</web-app>

