TD.printA {
	border-style: solid; border-color: black; border-width: 1; padding: 5;
}
TD.printB {
	border-style: solid; border-color: black; border-width: 1; padding: 5;
}
TD.printC {
	border-style: solid; border-color: black; border-width: 1; padding: 5;
}
TD.printD {
	border-style: solid; border-color: black; border-width: 1; padding: 5;
}
